:root {
    --primary-background: #f8f4e3;
    --primary-textColor: #323438;
}

@layer base {
    html {
        overflow-y: scroll;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-textColor);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out;
}

.main-bg {
    background-color: var(--primary-background);
}

.main-text {
    color: var(--primary-textColor);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #f87171, #fb923c);
    border-radius: 5px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fb923c transparent;
}
