body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f4e3;
    color: #323438;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out;
}
